body{background:#1E1E1A; color:#FFF;/*font-family:Georgia,"Times New Roman",Times,serif;*/}
.container{background:#0C0C0A;border-radius:5px;}
input[type=text], input[type=search], input[type=email], input[type=password]{width:385px;height:23px;}
input[type=text], input[type=search], input[type=email], input[type=password], textarea{
	background:#EEE;
	/*float:left;*/
	margin: 0.7em 0.5em;
	border:1px solid #CCC;
	padding: 2px 7px;
	font-family:Georgia, serif;
}
input[type=text]:hover, input[type=search]:hover, input[type=email]:hover, input[type=password]:hover, textarea:hover{
	border:1px solid #000;
}
footer{text-align:center;}
h1 { font-family: 'Geo', arial, serif; }
h1 a, label {color:#FF9900 !important;}
h3{background-color:#1E1E1A; padding:5px; color:#FFF;font-family: 'Geo', arial, serif;margin-top:1.25em;}
h3 a,h4,h5{color:#FFF; text-decoration:none;}
#pagination{margin:0 auto;}
hr{background:#FF9900; color:#FF9900;}
li{display:block !important;}
a{color:#FFF;}
a:visited{color:#ccc}
a:focus, a:hover {color:#09f;}
legend{color:#FF9900;}
.subMenu{margin-left: 7px; border-left:1px solid #FF9900;}
label{float:left;}
.comment-0{background:#333;}
.comment-1{background:#666;}
.comment-0 xmp, .comment-1 xmp{ font-family:Georgia,"Times New Roman",Times,serif; font-size:11px;}
.comment-0, .comment-1{padding:3px;}
.comment-0 img, .comment-1 img {float:left;}
.myLink{padding-left:14px; background:url('http://shikiryu.com/favicon12.png') left center no-repeat;}